.footer {
    background: #00897b;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    margin-top: auto;
    
  }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; 
  }
  