.reset-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding-top: 7rem; /* Push content below the navbar */
  }
  
  .reset-card {
    height: max-content;
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.1);
    width: 25rem;
    text-align: center;
  }
  
  .title {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .reset-card form {
    display: flex;
    flex-direction: column;
  }
  
  .reset-card label {
    text-align: left;
    font-weight: bold;
    margin: 0.5rem 0 0.1rem 0;
  }
  
  .reset-card input {
    width: 94%;
    padding: 0.8rem;
    border-radius: 0.2rem;
    border: 0.1rem solid #CCC;
    font-size: 1rem;
  }
  
  
  .toggle-password {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
  }
  
  .reset-password-actions {
    margin-top: 1rem;
  }
  
  .btn-reset {
    margin: auto;
    border: none !important;
    background-color: #00897b;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .btn-reset:hover {
  background-color: #619791;

  }
  
  
  /* Wrapper for inputs */
  .input-wrapper {
    position: relative;
    width: 100%;
  }
  
  /* Input error state */
  .input-error {
    /* outline: none; */
    border: 0.1rem solid red !important;
    box-shadow: 0 0 0.1rem red;
  }
  
  /* Error message inside the border */
  .reset-error-message {
    position: absolute;
    top: -0.8rem; /* Move it slightly above */
    left: 0.8rem; /* Align with input */
    background: white; /* Hide overlapping */
    color: red;
    font-size: 1rem;
    padding: 0 0.3rem;
    font-weight: bold;
  }
  
  /* Responsive Fix */
  @media (max-width: 700px) {
    .reset-card {
      width: 80%;
      padding: 1.5rem;
    }
  }
  